.spinner {
  composes: disabled from global;
}

.spinner span {
  color: transparent;
  width: 15px;
  height: 19px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}

.spinner span::before {
  content: ' ';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinnerAnimation 1.2s linear infinite;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
